
nav ul li {
    list-style-type: none;
    display: inline;
    margin: 1em;

    a {
        text-decoration: none;
        transition: 0.2s ease-in-out;
        color: #817cbd;
        font-weight: 600;
    }
    a:hover {
    color: #34324b;
    }

    
}