// palette
$lightestPurple: #eff3f8;
$deepPurple: #6c77c6;
$white: #fff;

.details-page {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 250 auto 1fr;
}

.card-block {
  grid-column: 2;
  grid-row: 1;

  .metric-card {
    border-radius: 10px;
    min-width: 150px;
    height: 150px;
    display: inline-block;
    margin-top: 0px;
    font-size: 18px;
    cursor: default;
    span:first-child {
      display: block;
      margin-bottom: 3em;
      margin-top: 2em;
    }
  }

  .metric-card:hover {
    transform: scale(1);
  }

  .company-info-card {
    background: $deepPurple;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-top: 0;
    color: $white;
    text-align: left;
    max-width: none;
    h4,
    p {
      margin: 0;
    }
  }
}

.target-summary {
  grid-column: 2;
  grid-row: 2;
}

.chart-container {
  grid-column: 2;
  grid-row: 3;
}
