// palette
$lightestPurple: #eff3f8;
$deepPurple: #6c77c6;
$deepPurpleHover: #4e558a;
$white: #fff;

.details-page {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 250px 300px 1fr;
}

.edit-icon {
  margin-top: 1em;
  width: 2em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  grid-column: 3;
  &:hover {
    transform: translate(-1px, -1px);
  }
}

.card-block {
  grid-column: 2;
  grid-row: 1;
  padding: 0px;
  display: flex;
  align-items: flex-start;

  .metric-card {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-top: -15px;
    font-size: 18px;
    cursor: default;
    a {
      margin-left: 80%;
      display: block;
      text-decoration: none;
      color: $deepPurple;
      font-weight: 600;
      transition: 0.2s ease-in-out;
      &:hover {
        color: $deepPurpleHover;
      }
      margin-bottom: 2em;
    }
    span {
      display: block;
    }
    span:first-child {
      margin-top: 3em;
    }
    span:last-child {
      margin-top: 2.5em;
    }
  }

  .metric-card:hover {
    transform: scale(1);
  }

  .company-info-card {
    background: $deepPurple;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin-top: -15px;
    color: $white;
    text-align: left;
    max-width: none;
    a {
      margin-left: 80%;
      text-decoration: none;
      color: $lightestPurple;
      font-weight: 600;
      transition: 0.2s ease-in-out;
      &:hover {
        color: rgb(206, 206, 206);
      }
    }
  }
}

.target-summary {
  grid-column: 2;
  grid-row: 2;
  margin-top: 4em;
  border-top: 3px solid $deepPurple;
  min-height: 300px;
  margin-bottom: 0;
}

.chart-container {
  grid-column: 2;
  grid-row: 3;
}
