// palette
$lightestPurple: #eff3f8;
$deepPurple: #6c77c6;
$deepPurpleHover: #4e558a;
$white: #fff;

/* shadow settings */
$shadow: 0 4px 6px 0 hsla(300, 8%, 26%, 0.2);
$hoverShadow: 0 6px 8px 0 hsla(300, 8%, 26%, 0.2);

body {
  background: $lightestPurple;
  font-family: ProximaSoft-Regular;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'nav main main main'
    'nav main main main'
    'nav main main main';
  grid-template-columns: 90px 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.side-nav {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.route-container {
  grid-area: main;
}

.btn {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: $hoverShadow;
  }
  &.primary {
    background: $deepPurple;
    color: $white;
    padding: 10px;
    border: none;
    font-weight: bold;
    box-shadow: $shadow;
    &:hover {
      background: $deepPurpleHover;
    }
  }
  &.secondary {
    background: none;
    padding: 9px;
    border: none;
    font-weight: bold;
    box-shadow: $shadow;
    color: $deepPurple;
    border: 1px solid $deepPurple;
    &:hover {
      color: $deepPurpleHover;
    }
  }

  &.delete {
    background: tomato;
    &:hover {
      background: rgb(202, 78, 56);
    }
  }
}

.card {
  border: 1px solid rgba(230, 230, 230, 0.7);
  background: #fff;
  margin: 1em;
  padding: 1em;
  transition: 0.2s ease-in-out;
  width: 200px;
  box-shadow: $shadow;
  &:hover {
    box-shadow: $hoverShadow;
  }
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 40%;
  height: 200px;
  background: $white;
  box-shadow: $shadow;
  padding: 5em 1em 1em 1em;
  top: 30vh;
  left: 30vw;
  z-index: 6;
  h2 {
    margin: 0;
  }
  .btn {
    margin: 2em 0 1em 1em;
  }
}
