// palette
$lightestPurple: #eff3f8;
$deepPurple: #6c77c6;
$white: #fff;

/* shadow settings */
$cardShadow: 0 4px 6px 0 hsla(300, 8%, 26%, 0.2);
$hoverShadow: 0 6px 8px 0 hsla(300, 8%, 26%, 0.2);

body {
  background: $lightestPurple;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'nav main main main'
    'nav main main main'
    'nav main main main';
  grid-template-columns: 90px 1fr 1fr auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto 1fr;
}

.side-nav {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.route-container {
  grid-area: main;
}

.card {
  border: 1px solid rgba(230, 230, 230, 0.7);
  background: #fff;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  max-width: 180px;
  height: 180;
  box-shadow: $cardShadow;

  a {
    text-decoration: none;
  }
}

.card:hover {
  transform: scale(1.03);
  box-shadow: $hoverShadow;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  grid-area: footer;
  background: $deepPurple;
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
