// palette
$lightestPurple: #EFF3F8;
$deepPurple: #6C77C6;
$white: #fff;

nav {
    background: #fff;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-bottom: 30vh;
    padding: 1em;
    
}

nav ul li { 
    list-style-type: none;
    display: block;
    margin: 1em;

    a {
        text-decoration: none;
        transition: 0.2s ease-in-out;
        color: $deepPurple;
        font-weight: 600;
    }
    a:hover {
    color: #34324b;
    }

    
}